{% extends "global/base.html" %}
	{% block home %}
		<article class="home__subtittle">
			<h1>Hello my name is Gustavo</h1>
			<h2>This page will be used to study how Django works</h2>
			<p>Use the header to navegate throught the website</p>
			
			<ul>
				<li>On the <strong>HOME</strong> you return to this page.</li>
				<li>On the <strong>Blog</strong> you can see a feed kind of thing.</li>
				<li>The last but not least the <strong>Authors</strong>, i just used that to learn how to create a new app =P</li>
			</ul>
		</article>
	{% endblock home %}